#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Bitbucket
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Exec=/opt/google/chrome/google-chrome --app=https://bitbucket.org/
Terminal=false
Icon=bitbucket
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=bitbucket.org
