#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DigitalOcean
Exec=/opt/google/chrome/google-chrome --app=https://www.digitalocean.com/droplets/352363
Icon=digitalocean
StartupWMClass=www.digitalocean.com__droplets_352363
