#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=GitHub
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Exec=/opt/google/chrome/google-chrome --app=https://github.com/
Terminal=false
Icon=github
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=github.com
