#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Gmail
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Exec=/opt/google/chrome/google-chrome --app=https://mail.google.com/
Terminal=false
Icon=gmail
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=mail.google.com
