#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Linode
Exec=/opt/google/chrome/google-chrome --app=https://manager.linode.com/linodes
Icon=linode
StartupWMClass=manager.linode.com__linodes
